// Top bar
$top_bar_bgcolor: #074C81;
$top_bar_bgcolor_hover: #0966AE;
$top_bar_bgcolor_active: #085998;
$top_bar_bgcolor_active_hover: $top_bar_bgcolor_hover;

$top_bar_fgcolor: #ffffff;
$top_bar_fgcolor_hover: $top_bar_fgcolor;
$top_bar_fgcolor_active: $top_bar_fgcolor;
$top_bar_fgcolor_active_hover: $top_bar_fgcolor;

$top_bar_dropdown_bgcolor: $top_bar_bgcolor;
$top_bar_dropdown_bgcolor_hover: $top_bar_bgcolor_hover;
$top_bar_dropdown_bgcolor_active: $top_bar_bgcolor_active;
$top_bar_dropdown_bgcolor_active_hover: $top_bar_bgcolor_hover;

$top_bar_dropdown_fgcolor: $top_bar_fgcolor;
$top_bar_dropdown_fgcolor_hover: $top_bar_fgcolor;
$top_bar_dropdown_fgcolor_active: $top_bar_fgcolor;
$top_bar_dropdown_fgcolor_active_hover:  $top_bar_fgcolor;
