// Miscellaneous:
// place anything here that is not covered by any sections
.row.home-top {
    padding: 10px;
    background-color: #fffefc;
    border-bottom: 1px solid #eeeeee;
}
.row.home-middle {
    padding: 20px 10px;
    background-color: #fffefc;
    background: -webkit-linear-gradient(#2CA1DB, #fffefc);
    background: -o-linear-gradient(#2CA1DB, #fffefc);
    background: -moz-linear-gradient(#2CA1DB, #fffefc);
    background: linear-gradient(#2CA1DB, #fffefc);
    min-height: 800px;
}
#logo, #slogan {
    display: inline-flex;
    vertical-align: middle;
}
#logo {
    margin-right: 10px;
}
#slogan {
    margin-top:10px;
    font-weight: bold;
}
#contents {
    background-color: #fffefc;
    padding: 0.8rem;
}
#poweredby {
    float: none;
}
.top-bar {
    li.menu-home {
        a {
            visibility: hidden;
        }
        width: 0px;
        margin-left: 8px;
    }
}
.icon {
    margin-right: 0.3rem;
}